@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700;700&display=swap');
*{
    font-family: 'JetBrains Mono', monospace;
    margin: 0 auto;
    overflow-x: hidden;

}

#NavBar{
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-items: center;
    background-color: #202123;
    position: absolute;
    top: 0;
    padding: 1vh;
    width: 100vw;
    height: 10vh;
}

.Link{
    z-index: 100;
    margin-inline: 2vh;
    margin-top: 3vh;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    color: white;

}

.Link:hover{
    z-index: 100;
    transition: 0.1s;
    opacity: 0.3;
}
.Logo{
    z-index: 100;
    margin-inline: 5vh;
    margin-top: 3vh;
    width: 40px;
}

.SubLogo{
    z-index: 100;
    font-size: 0.8em;
    font-weight: bold;
    color: white;

}

.LinkGato{
    z-index: 100;
    text-decoration: none;
}

.LinkGato:hover{
    z-index: 100;
    opacity: 0.3;
    transition: 0.1s;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>😺</text></svg>") 16 0,auto; /*!emojicursor.app*/
}